<h2>Products List</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.status }}</td>
      <td>
        <button (click)="viewProductDetails(product)">View</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" *ngIf="showModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <button (click)="closeModal()">Close</button>

    <h3>Product Details</h3>

    <div *ngIf="selectedProduct">
      <p><strong>ID:</strong> {{ selectedProduct.id }}</p>
      <p><strong>Name:</strong> {{ selectedProduct.name }}</p>
      <p><strong>Category:</strong> {{ selectedProduct.category }}</p>
      <p><strong>Price:</strong> ₱{{ selectedProduct.price | number }}</p>
      <p><strong>Stock:</strong> {{ selectedProduct.stock }}</p>
      <p><strong>Status:</strong> {{ selectedProduct.status }}</p>
      <p><strong>Description:</strong> {{ selectedProduct.description }}</p>
    </div>

  </div>
</div>

<hr/>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>